In [ ]:
# Questions
"""
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

2. What is the difference between string and variable?

3. Describe three different data types.

4. What is an expression made up of? What do all expressions do?
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

8. Why is eggs a valid variable name while 100 is invalid?

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'
"""

In [3]:
'Hello'

'Hello'

In [4]:
-87.8

-87.8

In [5]:
6

6

In [7]:
#Ans 1# 
#'Hello' , -87.8 and 6 are values
# * , / , + are expressions of mathematical operators.

In [8]:
#Ans 2# 
# string :- sting are immutable object that cancont changed after creted it stores value in "" qutos.
#            it's type is str e.g "Hello"

# variable :- It store any type of value.It refers to an pointer to an object.
#             e.g var1 = 4 , var2 = "Hello"

In [ ]:
#Ans 3# 
# three different data types are
"""
     1) Int : - This data type  contain value of only integer. eg 3
     2) Float :- This data type  contain value of int as well as float value. eg 4.23 , 3.00
     3) String :- This data type  contain value of string that are inside "" qutos eg. "Hello"
     4) Boolean :- This data type  contain value of True or False eg. True
"""

In [12]:
#Ans 4# 
# An expression is made of Operators(*,+,-) and Oprends(23,45,7)
# They interpreted to produce some other value

In [13]:
#Ans 5# 
# Statement :- It is an insruction that python interpeter can execute eg. spam = 10
# Expression :- It is an combination of Operators and Oprends to interpreted to produce some other value

# Statements represent an action or command. 
#Expression is a combination of variables, operations and values that yields a result value.

In [14]:
bacon = 22
bacon + 1

23

In [15]:
#Ans 6# 
# bacon will contain 23

In [16]:
'spam' + 'spamspam'

'spamspamspam'

In [17]:
'spam' * 3

'spamspamspam'

In [18]:
#Ans 7# 
#Output of the 'spam' + 'spamspam' and 'spam' * 3  expression will be same 'spamspamspam'

In [19]:
eggs = 10

In [20]:
100 = "ghar"

SyntaxError: cannot assign to literal (3161349222.py, line 1)

In [ ]:
#Ans 8# 
"""
eggs is valid variable name and 100 is not because while creating varible we should consider following rules
1) first letter of variable should be alphabet or _ (_ will create hidden variable)
2) first letter should not contain special charachter e.g @
3) there should be no space between variable
"""

In [22]:
#Ans 9# 
# int() function to get integer
# float() function to get float
# Str() function to get string

In [23]:
a = '9'
b = '12.56'
c = 89

In [24]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'int'>

In [25]:
a = int(a)
b = float(b)
c = str(c)

In [26]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [27]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [28]:
#Ans 10# 

#We can only concatenate str not int
#we can use str() function to convert 99 to string

In [29]:
'I have eaten' + str(99) + 'burritos'

'I have eaten99burritos'

In [33]:
pwd

'C:\\Users\\hp\\miniconda3\\Python Programme'