In [ ]:
"""
1.What are the two values of the Boolean data type? How do you write them?
2. What are the three different types of Boolean operators?
3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).
4. What are the values of the following expressions?
(5 > 4) and (3 == 5)
not (5 > 4)
(5 > 4) or (3 == 5)
not ((5 > 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)
5. What are the six comparison operators?
6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.
7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam)
8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

9.If your programme is stuck in an endless loop, what keys youâ€™ll press?
10. How can you tell the difference between break and continue?
11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?
12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.
13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?
"""

In [1]:
##Ans 1##

# Values of boolean data types are True and False , e.g a = True

In [ ]:
##Ans 2##

# Three Different types of Boolean operators are AND OR NOT

##Ans 3##
"""
TRUE OR TRUE   = True
FALSE OR FALSE  = False
TRUE OR FALSE  = True
FALSE OR TRUE   = True

TRUE and TRUE  = True
FALSE and FALSE =False
TRUE and FALSE = False
FALSE and TRUE = False

not False = True
not True = True
"""

In [ ]:
##Ans 4##
"""
(5 > 4) and (3 == 5)      --> False
not (5 > 4)               --> False
(5 > 4) or (3 == 5)       --> True
not ((5 > 4) or (3 == 5))  --> False
(True and True) and (True == False)   --> False
(not False) or (not True)   -->True
"""

In [3]:
(5 > 4) and (3 == 5)

False

In [4]:
not (5 > 4)

False

In [5]:
(5 > 4) or (3 == 5)

True

In [6]:
not ((5 > 4) or (3 == 5))

False

In [7]:
(True and True) and (True == False)

False

In [8]:
(not False) or (not True)

True

In [ ]:
##Ans 5##
# six comparison operators are
"""
> greater than 
< less than
>= greater than and equals to
<= less than and equals to 
== equals to
!= not equals to
"""

In [ ]:
##Ans 6##
"""
 when you want to compare two objets then use. It case sensitive == e.g. 'India' == 'india'
 and when you want to assign value then use . It also case sensitive= e.g. a = 'India'
"""

In [9]:
'India' == 'india'

False

In [10]:
'India' == 'India'

True

In [11]:
a = 'India'

In [12]:
a

'India'

In [ ]:
##Ans 7##
"""
Output will be :- 
ham
spam
spam
"""

In [15]:
spam = 0
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

In [29]:
##Ans 8##

spam = input()
if spam == 'Hello':
    print(1)
elif spam == '2':
    print('Howdy')
else:
    print('Greetings!')

2
Howdy

In [ ]:
##Ans 9##

# we need to press black square key name as interrupt the kernal
# which stop endless loop

In [ ]:
##Ans 10##
"""
Break :- It is used to come out of the loop
continue :- It is used to continue the loop
"""

In [37]:
##Ans 11##
"""
range(10) it will loop statements from 0 to 9 by default it start with 0
range(0, 10) it will loop statements from 0 to 9 it will start with 0 as mentioned left most
range(0, 10, 1) it will loop statements from 0 to 9 with 1 jump, it will start with 0 till 9 and having 1 interval
interval is rightmost , start loop at is leftmost.
"""
##Ans 12##
for i in range(0,11,1):    
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [39]:
##Ans 12##
i =0
while i < 11:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [50]:
##Ans 13##
#we have to import that file name as spam
#we can call spam function usinf import file name and then function name {
#e.g spam.bacon() 

import spam

spam.bacon()

Calling bacon function

In [49]:
pwd

'C:\\Users\\hp\\miniconda3\\Python Programme'